@charset "utf-8";
/* CSS Document */


body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

body {
  display: flex;
  flex-flow: column;
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul,
ol,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #37515F;
}

a {
	color: #B7B5B3;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #E5E7E6;
	text-decoration: none;
}

.leaflet-container a {
	color: #0A014F;
	text-decoration: none;
}

.leaflet-container a:hover,
.leaflet-container a:focus {
	color: #134074;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #37515F;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
.main-nav {
  width: 100%;
  background-color: #37515F;
  text-align: center;
}

.main-nav h1 {
  margin: auto;
  padding: 20px;
}

.main-nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1.2em;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #134074;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #37515F;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  min-height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #37515F;
  align-items: center;
  justify-content: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
  margin: 2%;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  min-height: 35px;
  min-width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 1%;
  padding: 0px;
  justify-content: center;
}

#restaurants-list li {
  display: flex;
  flex-flow: column;
  background-color: #E5E7E6;
  border: 2px solid #B7B5B3;
  font-family: Arial,sans-serif;
  min-height: 380px;
  justify-items: center;
  padding: 0.5%;
  margin: 1% 2%;
  text-align: center;
  /* width: 270px; */
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: flex;
  flex-flow: row;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #134074;
  font-family: Arial,sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 0.7em;
  text-align: left;
}

#restaurants-list li a {
  background-color: #37515F;
  border-bottom: 3px solid #E5E7E6;
  color: #E5E7E6;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: #37515F none repeat scroll 0 0;
  height: calc(100% - 76px);
  position: fixed;
  right: 0px;
  top: 76px;
  bottom: 0px;
  width: 50%;
}

.inside #map {
  display: flex;
  flex-flow: column;
  background-color: #ccc;
  min-height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  width: 47%;
}

#restaurant-name {
  color: #134074;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 1.3em;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #37515F;
  color: #ddd;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 1% 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container,
#reviews-container {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 2% 4%;
  box-sizing: border-box;
  width: 50%;
}

#reviews-container h2 {
  color: #134074;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1em;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: flex;
  flex-flow: column;
  background-color: #E5E7E6;
  border: 2px dotted #B7B5B3;
  list-style-type: none;
  margin: 5% auto;
  overflow: hidden;
  padding: 3% 5%;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

#skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  z-index: 9999;
  font-size: 1em;
}

#skip-link:focus {
  top: 0;
}


/* ====================== Phone ====================== */
@media only screen and (min-width: 320px) {
  #restaurants-list li {
    flex: 0 0 95%;
  }

  .filter-options {
    flex-flow: column;
  }

  #map {
    min-height: 250px;
  }

  .inside #map {
    margin: 36px 0 0 0;
    min-height: calc(100% - 36px);
  }
}

/* ====================== Tablet ====================== */
@media only screen and (min-width: 768px) {
  #restaurants-list li {
    flex: 0 0 40%;
  }

  .filter-options {
    flex-flow: row;
  }

  #map {
    min-height: 300px;
  }
  
  .inside #map {
    margin: auto;
    min-height: 100%;
  }
}

/* ====================== Desktop ====================== */
@media only screen and (min-width: 1024px) {
  #restaurants-list li {
      flex: 0 0 27%;
  }

  .filter-options {
    flex-flow: row;
  }

  #map {
    min-height: 400px;
  }

  .inside #map {
    margin: auto;
    min-height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  #restaurants-list li {
      flex: 0 0 19%;
  }
  
  .inside #map {
    margin: auto;
    min-height: 100%;
  }
}

.offline-content {
  display: flex;
  flex-flow: column wrap;
  margin: 5px 0;
  align-items: center;
  text-align: center;
}

.error-img {
  width: 30%;
}

.error-msg {
  display: inline;
  font-size: 1.3em;
}
